input {
  border: none;
  border-bottom: 2px solid #f9ebc8;
  outline: none;
  max-width: 60%;
  width: 450px;
  margin-top: 4rem;
  padding-bottom: 0.3rem;
  padding-left: 0.6rem;
  display: inline-block;
}

button {
  border: none;
  padding: 0.5rem 1rem;
  margin-left: 0.5rem;
  background-color: #92ba92;
}
